<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>WELCOME TO BOOKSTORE</h1>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.author}">
			<td th:text="${book.title}">
			<td th:text="${book.year}">
			<td th:text="${book.isbn}">
			<td th:text="${book.price}">
			<td><a th:href="@{delete/{id}(id=${book.id})}"
				class="btn btn-danger"> Delete </a></td>
			<td><a th:href="@{edit/{id}(id=${book.id})}"
				class="btn btn-warning"> Edit </a></td>
		</tr>
	</table>
	<p>
		<a href="/addbook" class="btn btn-success">Add book</a>
	</p>

</body>
</html>